<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
    <body>
          {{>header}}
        {{!-- <h1>{{title}}</h1>
     <a href="/">Weather</a>
     <a href="/about">About</a>
    <a href="/help">Help</a><br/> --}}
   
    
          <h2>Welcome to the {{title}}</h2>
          <h3>How are you feeling today!!</h3>
          <h3>{{forecast}} in {{location}}</h3>
          <br/>
          {{!-- <p>Created by {{name}}</p> --}}
          {{>footer}}
    </body>
</html>